<div z-load="default" class="card-wrapper default watchable" self="{{ selfLayout }}" layout="column stretch-center">
    <div class="card" layout="column top-center" @on:click="onItemClicked" data-url="{{ post.data.link | url }}">

        <div class="cover-wrapper" style="background-image: url({{ post.data.imagePreview }})">
            <div class="summary">
                <h1 class="title">{{ post.data.title }}</h1>
            </div>
        </div>
        <div class="options" layout="row center-center" self="bottom">
            <span>{{ post.data.pubDate }}</span>
            <button self="right" @on:click="onItemShowMenu">
                <i class="material-icons">more_vert</i>
            </button>
        </div>

    </div>
</div>
