---
date: Last Modified
---
{% include "head_open.liquid" %}
<style>
{% include "layouts/basic/style.css" %}
</style>
{% include "head_close.html" %}

{% if headerButtonIcon == null %}{% assign headerButtonIcon = 'menu' %}{% endif %}
{% if headerButtonUrl == null %}{% assign headerButtonUrl = '#' %}{% endif %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body layout="column top-center" data-theme="{{ theme }}"
      ctrl z-load="@lib/controllers/header-auto-hide"
      data-o-header="header-bar">

<header #header-bar class="header-cover animate__animated animate__fadeIn">
    <div self="size-large center" layout="row center-left">
        <div><h1 z-field="page_title" class="title animate__animated animate__fadeInLeft">{{title}}</h1></div>
        <div self="center-right"><a href="{{headerButtonUrl}}"><i class="material-icons animate__animated animate__fadeInRight">{{ headerButtonIcon }}</i></a></div>
    </div>
</header>

{% if imageCover %}
    <img class="image-cover" src="{{ imageCover }}">
{% endif %}

<main self="size-large center" class="main-content animate__animated animate__fadeIn" layout="column top-stretch">

    {{ content | safe }}

    {% include "published_date.liquid" %}

    {% include "page_navigation.liquid" %}

</main>

{% include "footer.liquid" %}

{% include "body_end.html" %}

</body>
{% include "html_close.html" %}
