{% include "head_open.liquid" %}
<style>
{% include "./basic/style.css" %}
{% include "./common/forms.css" %}
{% include "./common/theme.css.liquid" %}
</style>
{% include "head_close.html" %}
{% if layout_size == blank %}
    {% assign layout_size = "large" %}
{% endif %}

{% include "./common/svg-icons.liquid" %}

<body layout="column stretch-center"
      ctrl z-load="@lib/controllers/header-auto-hide"
      :header="'header-bar'" z-lazy="scroll">

<nav layout="row top-center" #header-bar>
    <div self="size-{{ layout_size }} stretch" layout="row center-center" style="gap: 8px;">
        {% if page.url == '/' %}<!-- HOME LOGO -->
        <a class="icon-button" aria-label="Home" href="{{ '/' |  url }}" style="width: 48px">
            <!-- put your logo here -->
            <svg width="48px" height="48px" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/>
            </svg>
        </a>
        {% elsif tags contains 'sections' or group == blank %}<!-- BACK TO HOME CONTENTS -->
        <a class="icon-button" aria-label="Back to home contents" href="{{ '/' |  url }}" style="width: 48px">
            {{ back_arrow_icon }}
        </a>
        {% else %}<!-- BACK TO POST LIST -->
        <a class="icon-button" aria-label="Back to post list" href="{{ '..' |  url }}" style="width: 48px">
            {{ back_arrow_icon }}
        </a>
        {% endif %}
        <div self="size-x1">
            <h1 class="title">{{ app.title }}</h1>
            <div class="subtitle">{{ title }}</div>
        </div>
        <a class="icon-button" aria-label="Search" href="{{ '/search' | url }}">
            {{ search_icon }}
        </a>
        <div style="padding-top: 4px; padding-right: 4px">
            <input class="theme-toggle" type="checkbox" aria-label="Toggle theme" checked>
        </div>
    </div>
</nav>

<main self="size-{{ layout_size }}">

    {% if coverImage -%}
        <div self="size-large" style="position: relative;width: 100%;;display: block">
            <img class="image-cover" src="{{ coverPreview }}" alt="Cover image preview" style="position: absolute; display: block">
            <img class="image-cover" src="{{ coverImage }}" alt="Cover image" style="position: relative; display: block; z-index: 1">
        </div>
    {%- endif %}

    {% if title and false == options contains 'no-title' %}
        <h1>{{ title }}</h1>
    {% endif %}

    {% if author %}
        <div class="author">
            by <em>{{ author }}</em> &mdash;
            posted on {{ pubDate | date: 'D MMMM YYYY' }}
        </div>
    {% endif %}

    {{ content | safe }}

</main>

{% include "./basic/page-navigation.liquid" %}

{% include "footer.liquid" %}

<div z-load="@lib/components/menu-overlay"
     z-context="menu-overlay"
     :position="'center'" :before="'footer'">

    <div #items>
        {% include './basic/menu-items.liquid' %}
    </div>

</div>

{% include './common/zuix-editor.liquid' %}

{% include "body_end.liquid" %}
<script>
{% include "./basic/script.js.liquid" %}
</script>
</body>
{% include "html_close.html" %}
