---
date: Last Modified
---
{% include "head_open.liquid" %}
<style>
{% include "./side_drawer/style.css" %}
</style>
{% include "head_close.html" %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body ctrl z-load="@lib/controllers/header-auto-hide"
      data-o-header="header" z-lazy="scroll" data-theme="{{ theme }}"
      layout="column stretch-stretch">

    <nav #header layout="row center-start">
        <div self="stretch" layout="row center-start">
            <button onclick="menuDrawer.open()" class="header-menu-button mdl-button mdl-button--icon">
                <i class="material-icons">menu_open</i>
            </button>
            <h1 self="size-x1" class="title">{{ title }}</h1>
        </div>
    </nav>


    <main class="animate__animated animate__fadeIn animate__faster" layout="column top-center">

        {% unless options contains 'no-title' %}
            <h1 #alt_header class="title">{{ title }}</h1>
        {% endunless %}

        <div self="size-x1" class="content">
            {{ content }}
            {% include "./side_drawer/page_navigation.liquid" %}
        </div>

        {% include "footer.liquid" %}

    </main>


    <!-- Navigation Drawer -->
    <div ctrl z-load="@lib/controllers/drawer-layout"
         z-context="menu-drawer" z-lazy="false"
         z-options="drawer_opts"
         class="drawer-layout no-select visible-on-ready animate__animated animate__faster"
         layout="column top-stretch">
        <!-- Navigation Drawer content -->

        <!-- Header -->
        <div class="drawer-header" layout="column justify-stretch">
            <a href="{{ '/' | url }}" title="Home">
                <img src="{{app.baseUrl}}images/profile-icon.png" class="logo" alt="Logo">
            </a>
            <div class="title">{{ app.title }}</div>
            <div class="subtitle">{{ app.subtitle }}</div>
        </div>

        <!-- Menu items and other content -->
        <div class="drawer-content" self="size-x1">
            {% include "./side_drawer/drawer_menu.liquid" %}
        </div>

    </div>

{% include "body_end.liquid" %}

</body>

<!-- page script -->
<script>
{% include "./side_drawer/script.js.liquid" %}
</script>

{% include "html_close.html" %}
