{% assign coverUrl = item.data.coverPreview %}
{% assign checkArray = coverUrl | split: '.' %}
{% if checkArray[0] == blank %}
    {% assign coverUrl = item.url | append: coverUrl %}
{% endif %}
{% wrapDom 'image-card' %}
<div self="size-x1" layout="column top-stretch" style="background-image: url('{{ coverUrl | url }}')">
    <div class="card-title accent">{{ item.data.title }}</div>
    <p>{{ item.data.description }}</p>
    <div self="bottom" class="date primary">
        {{ item.data.pubDate | date: 'D MMMM YYYY' }}
    </div>
    <a href="{{ link | url }}" title="See {{ item.data.title }}"></a>
</div>

{% endwrapDom %}

{% wrapCss 'image-card' %}
<style>
    :host {
        position: relative;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 1px 1px;
        background-color: #bbbbbb15;
        border-radius: 12px;
        min-width: 288px;
        width: 288px;
        max-width: 288px;
        height: 272px;
        min-height: 272px;
        max-height: 272px;
        margin: 12px;
        padding-top: 125px;
        box-shadow: 0 1px 4px 0 #00000055;
        transition-property: background-color, box-shadow;
        transition: 0.2s ease-in-out;
    }
    :host:hover {
        background-color: #bbbbbb1a;
        box-shadow: 0 3px 8px 0 #00000055;
    }
    :host:active {
        background-color: #bbbbbb26;
        box-shadow: 0 0 2px 0 #00000055;
    }
    h3, p {
        padding: 8px;
        margin: 0;
    }
    h3 {
        font-size: 100%;
        padding-top: 16px;
        text-align: left;
        line-height: 140%;
    }
    p {
        padding-top: 0;
        font-size: 75%;
    }
    a {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }
    .date {
        text-align: right;
        font-size: 12px;
        padding: 6px;
        margin-right: 12px;
    }
</style>
{% endwrapCss %}
