{% unless options contains 'no-footer' %}
<footer #footer layout="column bottom-center" style="min-height: 200px;">

    <div self="size-large" layout="rows top-justify">
        <section>
            <div><strong>{{ app.title }}</strong></div>
            <ul>
                {% assign sections = collections.sections | sort: 'data.order' %}
                {% for item in sections %}
                    <li>
                        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% assign posts = collections[group] | sort: 'data.order' | sort: 'data.pubDate' | reverse %}
        {% if posts.size > 0 %}
        <section>
            <div><strong>Latest posts</strong></div>
            <ul>
                {% for item in posts limit:4 %}
                    <li><a href="{{ item.url | url }}">{{ item.data.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% if links.size > 0 %}
        <section>
            {% if links %}
            <div><strong>Links</strong></div>
            <ul>
                {% for item in links %}
                    <li><a href="{{ item.link | url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        {% endif %}
    </div>

    <div self="size-large" layout="row sm-column center-spread" style="padding: 12px;">

        <a self="left" href="https://pagespeed.web.dev/report?url={{ app.siteMapUrl }}{{ page.url }}">
            <div layout="row center-left" style="gap: 8px;">
                <img width="24" height="24" alt="PageSpeed Insight logo" src="{{ '/images/page-speed-insight-icon.png' | url }}">
                <span>PageSpeed Insight</span>
            </div>
        </a>

        <div self="right">
            powered by <a href="https://zuixjs.github.io/zkit"><strong>zKit</strong></a> and <a href="https://zuixjs.org"><strong>zuix⚡js</strong></a>
        </div>

    </div>

</footer>
{% endunless %}
