<ul>
    <li {% if page.url == '/pages/home/' %} aria-current="page"{% endif %}>
    <a href="{{ '/pages/home' | url }}">
        <div layout="row center-lett">
            <i class="material-icons">home</i>
            <span>Home</span>
        </div>
    </a>
    </li>
    <li {% if page.url == '/pages/search/' %} aria-current="page"{% endif %}>
    <a href="{{ '/pages/search' | url }}">
        <div layout="row center-left">
            <i class="material-icons">search</i>
            <span>Search</span>
        </div>
    </a>
    </li>
</ul>

{% assign sections = collections.sections | sort: 'data.pubDate' | reverse | sort: 'data.order' %}
{%- for section in sections -%}
<label>{{ section.data.title }}</label>
<ul>
    {% assign posts = collections[section.data.group] | sort: 'data.pubDate' | reverse | sort: 'data.order' %}
    {%- for post in posts -%}
    {% assign match = page.url | split:post.url %}
    <li {% if match[0] == blank %} aria-current="page"{% endif %}>
        <a href="{{ post.url | url }}">
            <div layout="row center-lett">
                <i class="material-icons">{{ post.data.icon }}</i>
                <span>{{ post.data.title }}</span>
            </div>
        </a>
    </li>
    {%- endfor -%}
</ul>
{% endfor %}
